.contacts {
    display: flex;
    column-gap: 30px;
    margin-top: 50px;

    @media (max-width: 950px) {
        flex-direction: column;
        row-gap: 40px;
        align-items: center;
    }

    &__info {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        width: 410px;

        @media (max-width: 950px) {
            text-align: center;
        }

        @media (max-width: 480px) {
            width: 100%;
        }

        &-phone {
            font-family: 'Vetrino';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 43px;
            color: #1AE5BE;
            transition: all .15s ease;

            &:hover {
                color: #ffffff;
            }

            @media (max-width: 1240px) {
                font-size: 36px;
            }

            @media (max-width: 1120px) {
                font-size: 32px;
            }

            @media (max-width: 1024px) {
                font-size: 30px;
            }

            @media (max-width: 950px) {
                font-size: 40px;
            }

            @media (max-width: 480px) {
                font-size: 30px;
            }

            @media (max-width: 360px) {
                font-size: 26px;
            }

            &-dop {
                font-weight: 700;
                font-size: 20px;
                line-height: 140%;
                color: #FFFFFF;
                transition: all .15s ease;

                &:hover {
                    color: #1AE5BE;
                }
            }
        }

        &-email {
            font-weight: 400;
            font-size: 17px;
            line-height: 140%;
            color: #FFFFFF;
            transition: all .15s ease;

            &:hover {
                color: #1AE5BE;
            }
        }
    }

    &__form {
        &-text {
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 34px;
            color: #FFFFFF;

            @media (max-width: 850px) {
                text-align: center;
            }
        }

        &-container {
            margin-top: 30px;
            display: flex;
            gap: 30px;

            @media (max-width: 1270px) {
                flex-direction: column;
            }

            @media (max-width: 950px) {
                max-width: 480px;
                margin: 30px auto 0 auto;
            }

            @media (max-width: 480px) {
                width: 100%;
            }
        }

        &-input {
            max-width: 270px;
            background: none;
            border-bottom: 1px solid #ffffff;
            padding: 19px 16px 21px;
            color: #ffffff;

            &::placeholder {
                font-size: 16px;
                line-height: 140%;
                color: #C4CDDE;
            }

            @media (max-width: 1270px) {
                //max-width: 70%;
                max-width: unset;
                width: 60%;
            }

            @media (max-width: 950px) {
                //max-width: 70%;
                margin: 0 auto;
                width: 80%;
            }

            @media (max-width: 480px) {
                width: 100%;
            }
        }

        &-button {
            @media (max-width: 950px) {
                text-align: center;
            }
        }
    }
}
