#politics {
    margin-top: 90px;
}

.politics {
    h1 {
        text-align: center;
        font-weight: 900;
        font-size: 30px;
        line-height: 37px;
        color: #001F43;
    }

    &__text {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
}
